---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from './../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Icon } from 'astro-icon/components'
import {
    Breadcrumbs,
    BreadcrumbsItem,
    Card,
    Media,
    Modal,
    Notification,
    Pagination,
} from 'accessible-astro-components'

const allArticles = await Astro.glob('../content/articles/*.md');

console.log(allArticles);

---

<DefaultLayout title="Home">
    <ul>
        {allArticles.map(
            (article) => (
            <li>
                {article.frontmatter.title}
            </li>
            )
            )}
    </ul>

</DefaultLayout>