---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
const headline = 'Mail me'
const url = 'https://www.google.at'
const text = 'I will help u'
---

<footer>
  <section class="py-8">
    <div class="container">
      <CallToAction 
        headline={headline}
        url={url}
        text={text}
      />
      <div class="container">
        <p class="content-center">
          &copy; {currentYear} - <a href="mailto:galahad.instruments@gmail.com">Galahad Design</a>
        </p>
      </div> 
        
      
    </div>
  </section>
</footer>
