---
import { Icon } from 'astro-icon'
import ContentMedia from './ContentMedia.astro';

// const { src = 'astronaut-hero-img.webp' } = Astro.props
const { src = 'assets/img/hero.jpg' } = Astro.props

---

<ContentMedia imgSrc="assets/img/hero.jpg" reverseImg=true>
  <h2>Frischer Wind 
    <br>
    in 
    <br>
    guten Händen
  </h2>
</ContentMedia>

<style lang="scss">

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
